@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.site_content {
    border: none;
    direction: none;
    overflow: scroll;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.site_content .navbar {
    margin: auto;
    width: 70%;
    margin-top: 1%;
    padding: 10px;
    background-color: #fff;
    border-radius: 12px;
}

.site_content .search_box {
    position: relative;
    height: 30px;
    width: 500px;
}

.site_content .search_box i {
    transform: translateX(-20px);
    margin-top: 6px;
}

.site_content .search_box input {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    border: none;
    outline: none;
    padding-left: 50px;
    background-color: rgb(226, 226, 226);
}

.site_content .navbar_profile_details img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.site_content .section_content{
    margin: auto;
    margin-top: 5%;
    width: 70%;
    text-align: center;
    border-radius: 12px;
    background-color: #fff;
    padding-bottom: 5%;
}

.site_content .section_content img{
    margin-top: 5%;
    width: 150px;
    height: 150px;
    border-radius: 50%;;
}

.site_content .txt_field {
    margin-top: 50px;
}

.site_content .txt_field input {
    width: 500px;
    height: 40px;
    background-color: rgb(226, 226, 226);
    border-radius: 20px;
    padding-left: 190px;
    padding-right: 20px;
    text-align: right;
    border: none;
    outline: none;
}

.site_content .txt_field label {
    position: absolute;
    transform: translate(-480px, 7px);
}