@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    /*background: #008c64;*/
    background: linear-gradient(#008c64, #000);
    position: relative;
    width: 100%;
}

.login_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 12px;
    width: 400px;
}

.login_box h1 {
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid #008c64;
}

.login_box form {
    padding: 0 40px;
    box-sizing: border-box;

}

form .txt_field {
    position: relative;
    border-bottom: 2px solid  #008c64;
    margin: 30px 0 ;

}

.txt_field input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(226, 226, 226);
    border: none;
    outline: none;
}

.txt_field label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #008c64;
}